# Alex Felipe Barbosa

## Data Science Academy

### Fundamentos da Linguagem Python para Analise de Dados e Data Science

### Capitulo 8 - Introdução à Programação Orientada a Objetos 
### Objetos

#### 06/03/2024

In [1]:
# Versão da Linguagem Python
from platform import python_version
print("Versão da Linguagem Python usada neste Jupyter Notebook: ", python_version())

Versão da Linguagem Python usada neste Jupyter Notebook:  3.9.13

## Objetos 

Em Python, tudo é objeto!

In [2]:
# Criando uma lista 
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [3]:
# A lista lst_num é um objeto, uma instância da classe lista em Python
type(lst_num)

list

In [4]:
print(type([]))

<class 'list'>

In [5]:
lst_num.count(10)

2

In [8]:
# Usamos a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [9]:
# Criando um novo tipo de objeto chamado Carro
class Carro(object):
    pass

In [10]:
# Instancia do Carro
ferrari = Carro()

In [11]:
print(type(ferrari))

<class '__main__.Carro'>

In [12]:
# Criando uma classe
class Estudantes: 
    
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [15]:
# Criando um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Alex",41,9.5)

In [17]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nome

'Alex'

In [18]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.idade

41

In [19]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nota

9.5

In [20]:
# Criando uma classe 
class Funcionarios:
    
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
        
    def listFunc(self):
        print("Funcionário(a) " + self.nome + " tem salario de R$ "+ str(self.salario) + " e o cargo é " + self.cargo)

In [21]:
# Criando um objeto chamado Func1 a partir da classe Funcionarios
Func1 = Funcionarios("Mary", 2000, "Cientista de Dados")

In [22]:
# Usando o metodo da classe 
Func1.listFunc()

Funcionário(a) Mary tem salario de R$ 2000 e o cargo é Cientista de Dados

In [23]:
print("******** Usando atributos ****** ")

******** Usando atributos ******

In [26]:
hasattr(Func1, "nome")

True

In [25]:
hasattr(Func1, "salario")

True

In [27]:
setattr(Func1, "salario", 4500)

In [28]:
hasattr(Func1, "salario")

True

In [29]:
getattr(Func1, "salario")

4500

In [30]:
delattr(Func1, "salario")

In [31]:
hasattr(Func1, "salario")

False

FIM