# Alex Felipe Barbosa

## Data Science Academy

### Fundamentos da Linguagem Python para Analise de Dados e Data Science

### Capitulo 16 - Analise de Séries Temporais em Python

#### 28/03/2024

In [1]:
# Versão da Linguagem Python
from platform import python_version
print("Versão da Linguagem Python usada neste Jupyter Notebook: ", python_version())

Versão da Linguagem Python usada neste Jupyter Notebook:  3.11.7

## Problema de Negócio:
Usando dados históricos das vendas ao longo de 2023 seria possivel prever o total de vendas em Janeiro/2024 ?

In [5]:
# Imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

## Carregando os dados

In [6]:
# Carrega o dataset
df_dsa = pd.read_csv('dataset.csv')

In [7]:
df_dsa.shape

(365, 2)

In [8]:
df_dsa.columns

Index(['Data', 'Total_Vendas'], dtype='object')

In [9]:
df_dsa.head(10)

         Data  Total_Vendas
0  2023-01-01     53.483571
1  2023-01-02     57.176993
2  2023-01-03     63.087722
3  2023-01-04     62.103987
4  2023-01-05     44.690396
5  2023-01-06     39.330036
6  2023-01-07     50.377749
7  2023-01-08     54.187174
8  2023-01-09     55.870943
9  2023-01-10     62.912079

In [10]:
df_dsa.describe

<bound method NDFrame.describe of            Data  Total_Vendas
0    2023-01-01     53.483571
1    2023-01-02     57.176993
2    2023-01-03     63.087722
3    2023-01-04     62.103987
4    2023-01-05     44.690396
..          ...           ...
360  2023-12-27     74.935570
361  2023-12-28     71.374857
362  2023-12-29     57.806920
363  2023-12-30     62.340244
364  2023-12-31     71.650720

[365 rows x 2 columns]>

In [11]:
df_dsa.tail()

           Data  Total_Vendas
360  2023-12-27     74.935570
361  2023-12-28     71.374857
362  2023-12-29     57.806920
363  2023-12-30     62.340244
364  2023-12-31     71.650720

## Pré-Processamento dos dados

In [12]:
# Valor minimo da coluna data
df_dsa['Data'].min()

'2023-01-01'

In [13]:
# Valor maximo da coluna data
df_dsa['Data'].max()

'2023-12-31'

In [14]:
df_dsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          365 non-null    object
 1   Total_Vendas  365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [15]:
# Converte a coluna de data no tipo datetime
df_dsa['Data'] = pd.to_datetime(df_dsa['Data'])

In [16]:
df_dsa.head()

        Data  Total_Vendas
0 2023-01-01     53.483571
1 2023-01-02     57.176993
2 2023-01-03     63.087722
3 2023-01-04     62.103987
4 2023-01-05     44.690396

In [17]:
df_dsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Data          365 non-null    datetime64[ns]
 1   Total_Vendas  365 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

In [18]:
# Converter o Dataframe em uma série temporal com a data como indice
serie_temporal = df_dsa.set_index('Data')['Total_Vendas']

In [19]:
type(serie_temporal)

pandas.core.series.Series

In [20]:
serie_temporal

Data
2023-01-01    53.483571
2023-01-02    57.176993
2023-01-03    63.087722
2023-01-04    62.103987
2023-01-05    44.690396
                ...
2023-12-27    74.935570
2023-12-28    71.374857
2023-12-29    57.806920
2023-12-30    62.340244
2023-12-31    71.650720
Name: Total_Vendas, Length: 365, dtype: float64

In [21]:
# Fornece a frequencia da serie temporal (diaria, neste caso)
serie_temporal = serie_temporal.asfreq('D')

In [22]:
serie_temporal

Data
2023-01-01    53.483571
2023-01-02    57.176993
2023-01-03    63.087722
2023-01-04    62.103987
2023-01-05    44.690396
                ...
2023-12-27    74.935570
2023-12-28    71.374857
2023-12-29    57.806920
2023-12-30    62.340244
2023-12-31    71.650720
Freq: D, Name: Total_Vendas, Length: 365, dtype: float64