# Alex Felipe Barbosa

## Data Science Academy

### Fundamentos da Linguagem Python para Analise de Dados e Data Science

### Capitulo 5 - Loop For

#### 19/02/2024

In [2]:
# Versão da Linguagem Python
from platform import python_version
print("Versão da Linguagem Python usada neste Jupyter Notebook: ", python_version())

Versão da Linguagem Python usada neste Jupyter Notebook:  3.9.13

## Loop For

In [3]:
# Criando uma tupla e imprimindo cada um dos valores
tp = (2,3,4)
for i in tp:
    print(i)

2
3
4

In [4]:
# Criando uma lista e imprimindo cada um dos valores
ListaDeStrings = ["Data", "Science", "Academy"]
for i in ListaDeStrings:
    print(i)

Data
Science
Academy

In [5]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,5):
    print(contador)

0
1
2
3
4

In [6]:
# Imprimindo os números pares da lista de numeros
lista = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]
for num in lista:
    if num % 2 == 0:
        print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [7]:
# listando os números no intervalo entre 0 e 101, com incremento em 2
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
# Strings também são sequencias 
for caracter in ("Python é uma linguagem de programação divertida!"):
    print(caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

d
i
v
e
r
t
i
d
a
!

### Loop For Aninhado

In [9]:
# Loops aninhados
for i in range(0,5):
    for a in range(0,5):
        print('\n', a * i)
    print('----')

 0

 0

 0

 0

 0
----

 0

 1

 2

 3

 4
----

 0

 2

 4

 6

 8
----

 0

 3

 6

 9

 12
----

 0

 4

 8

 12

 16
----

In [10]:
# Loops aninhados

lista1 = [0,1,2,3,4]
lista2 = [1,2,3]

# Loop externo
for elemento_lista1 in lista1:
    
    # Loop interno
    for elemento_lista2 in lista2:
        
        print('\n', elemento_lista1 * elemento_lista2)
        
    print('----')

 0

 0

 0
----

 1

 2

 3
----

 2

 4

 6
----

 3

 6

 9
----

 4

 8

 12
----

In [11]:
# O número 47 aparece nas duas listas ?

lista1 = [10, 16, 24, 28, 39, 47, 52]
lista2 = [32, 89, 17, 18, 47, 76, 132, 12, 15]

# Loop Externo
for elemento_lista1 in lista1:
    
    # Loop Interno
    for elemento_lista2 in lista2:
        
        # Condicional
        if elemento_lista1 == 47 and elemento_lista2 == 47:
            
            print("O número 47 foi encontrado nas duas listas!")

O número 47 foi encontrado nas duas listas!

In [12]:
# Some os números pares da primeira lista com os números pares da segunda lista

lista1 = [10,16,24,39,47]
lista2 = [32,89,47,76,12]
soma = 0 

# Loop externo
for lista in [lista1, lista2]:
    
    # Loop interno
    for num in lista:
        
        # Condicional 
        if num % 2 == 0:
            soma += num
            
print("A soma dos numeros pares das duas listas é igual a: ", soma)

A soma dos numeros pares das duas listas é igual a:  170

In [13]:
# Listas podem ser concatenadas em Python
lista1 + lista2

[10, 16, 24, 39, 47, 32, 89, 47, 76, 12]